h1 {
    display: flex;
    justify-content: center;
    margin-top: 3.5vh;
    margin-bottom: 3vh;
    font-size: 5rem;
}

@media (min-width: 320px) and (max-width: 767.9px) {
    h1 {
        font-size: 3.5rem;
        font-weight: bold;
        
    }
}
