// Variables
$border-color: #0000008a;
$font-size-large: 3.5rem;
$font-size-medium: 2.5rem;
$font-size-small: 1.8rem;
$font-size-xsmall: 1.1rem;
$padding: 10px;
$margin-bottom: 30px;
$background-image: url("../../Utils/Images/Img/papyrus.jpg");
$border-radius: 15px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$button-padding: 10px 20px;
$button-font-size: 1.1rem;
$grid-gap: 25px;

.title_portfolio {
  text-align: center;
  margin-bottom: $margin-bottom;
  z-index: 7;
  display: inline-block;
  font-size: $font-size-large;
  padding: $padding;
}

.conteneur-titre {
  text-align: center;
}

.title_char {
  display: inline-block;
  animation: jump 0.5s ease-in-out infinite;
}

.conteneur-portfolio {
  border: 5px solid $border-color;
  border-radius: $border-radius;
  padding: 5%;
  box-shadow: $box-shadow;
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 90%;
  background-image: $background-image;
  background-size: cover;
}

.filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtres button {
  margin: 0 10px;
  padding: $button-padding;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: $button-font-size;
  margin-bottom: $margin-bottom;
}

.grid_projets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $grid-gap;
  margin-left: 0px;
}

// Media Queries
@media (min-width: 768px) and (max-width: 1023.9px) {
  .title_portfolio {
    font-size: $font-size-medium;
  }
  
  .grid_projets {
    grid-template-columns: repeat(2, 1fr);
  }

  .filtres button {
    font-size: $font-size-xsmall;
  }

  .conteneur-portfolio {
    background-size: contain;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .title_portfolio {
    font-size: $font-size-small;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  
  .grid_projets {
    grid-template-columns: repeat(1, 1fr);
    margin-left: 1%;
  }

  .filtres button {
    display: none;
  }

  .conteneur-portfolio {
    background-size: contain;
  }
}