.title_portfolio {
  text-align: center;
  margin: 50px;
  z-index: 7;
  display: inline-block;
  font-size: 3.5rem;
}

.conteneur-titre {
  text-align: center;
}

.title_char {
  display: inline-block;
  animation: jump 0.5s ease-in-out infinite;
}

.conteneur-portfolio {
  border: 5px solid #0000008a;
  border-radius: 15px;
  padding: 5%;
  margin: auto; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 60px;
  box-sizing: border-box;
  width: 80%;
  background-image: url("../../Utils/Images/Img/papyrus.jpg");
  background-size: cover;
}

.filtres {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filtres button {
  margin: 0 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.grid_projets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin: auto;
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .title_portfolio {
    font-size: 1.8rem;
    margin: 20px;
  }
  
  .grid_projets {
    grid-template-columns: 1fr;
  }

  .filtres button {
    display: none;
  }
}
