// Variables
$shadow-color: rgba(0, 0, 0, 0.1);
$font-size-large: 4rem;
$font-size-medium: 2.5rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1.4rem;
$header-height-large: 300px;
$header-height-small: 200px;
$img-size-large: 2.93rem;
$img-size-medium: 2rem;
$img-size-small: 30px;
$margin-top-large: 15px;
$margin-top-small: -15px;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(0px 3px 15px $shadow-color);
  height: $header-height-large;
}

h2 {
  font-size: $font-size-large;
  text-transform: uppercase;
  text-align: center;
}

.identite_position {
  position: absolute;
  left: 3%;
  margin: 0;
  font-size: 2.5em;
}

.centered-text {
  display: block;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 3%;
  top: 50%;
  transform: translateY(-50%);
}

li {
  list-style: none;
  margin-top: $margin-top-large;
  display: flex;
  align-items: center;
  font-size: $font-size-small;

  & img {
    width: $img-size-large;
    height: $img-size-large;
    margin-right: 10px;
  }
}

.pointer-cursor {
  cursor: pointer;
}

// Media Queries
@media (min-width: 768px) and (max-width: 1023.9px) {
  .header {
    height: $header-height-small;
  }

  h2 {
    font-size: $font-size-medium;
    margin-top: -10px;
  }

  .identite_position {
    font-weight: 200;
    font-size: $font-size-xsmall;
  }

  li {
    font-size: $font-size-xsmall;

    & img {
      width: $img-size-medium;
      height: $img-size-medium;
    }
  }

  .header_nav {
    margin-top: $margin-top-small;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .header {
    height: $header-height-small;
  }

  h2 {
    font-size: $font-size-xsmall;
    margin-top: 50px;
  }

  .identite_position {
    top: 1%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
    text-align: center;
    margin-top: 30px;
    font-weight: 200;
    font-size: $font-size-xsmall;
  }

  .header_nav img {
    width: $img-size-small;
    height: $img-size-small;
  }

  .header_nav li span {
    display: none;
  }

  .header_nav {
    margin-top: $margin-top-small;
  }
}