// Variables
$border-color: #000000;
$border-color-cadre: #d4af37;
$font-size-large: 3.5rem;
$font-size-medium: 2rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1.2rem;
$padding: 10px;
$margin-bottom: 30px;
$background-image: url("../../Utils/Images/Img/papyrus.jpg");
$border-radius: 15px;
$border-radius-cadre: 10px;
$box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1), inset 0 -4px 8px rgba(255, 255, 255, 0.7);
$box-shadow-input: 3px 3px 5px rgba(0, 0, 0, 0.2);
$button-width: 150px;
$button-font-size: 2rem;

.conteneur-formulaire {
  background-size: cover;
  border: 2px solid $border-color;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  max-width: 55rem;
  height: auto;
  margin: 0 auto;
  background-image: $background-image;
  padding: 20px;
  text-align: center;
  margin-top: -40px;
  margin-bottom: -30px;
}

.cadre-texte {
  border: 2px solid $border-color-cadre;
  border-radius: $border-radius-cadre;
  padding: $padding;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: $box-shadow;
}

.conteneur-formulaire h3 {
  display: inline-block;
  font-size: $font-size-large;
  margin-bottom: $margin-bottom;
  padding: $padding;
  margin-top: 30px;
}

.conteneur-formulaire p {
  text-align: center;
  font-size: $font-size-small;
  margin-bottom: $margin-bottom;
}

.conteneur-formulaire form {
  display: flex;
  flex-direction: column;
}

.conteneur-formulaire label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: $font-size-small;
}

.conteneur-formulaire textarea,
.conteneur-formulaire input[type="text"],
.conteneur-formulaire input[type="email"] {
  margin-bottom: 15px;
  padding: $padding;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: $box-shadow-input;
  transition: box-shadow 0.3s ease-in-out;
  width: 100%;
  font-size: $font-size-medium;
}

.conteneur-formulaire .submit-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.conteneur-formulaire input[type="submit"] {
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: $padding;
  width: $button-width;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: $button-font-size;
  box-shadow: $box-shadow-input;
}

.error-message,
.confirmation-message {
  margin-top: 5px;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
}

.cadre-texte {
  cursor: default;
}

// Media Queries
@media (min-width: 768px) and (max-width: 1023.9px) {
  .conteneur-formulaire {
    width: 80%;
  }

  .conteneur-formulaire textarea,
  .conteneur-formulaire input[type="text"],
  .conteneur-formulaire input[type="email"] {
    font-size: $font-size-medium;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .conteneur-formulaire {
    width: 90%;
  }

  .conteneur-formulaire h3 {
    font-size: $font-size-xsmall;
    margin-top: -5px;
    margin-bottom: 15px;
  }

  .conteneur-formulaire p,
  .conteneur-formulaire label {
    font-size: $font-size-xsmall;
  }

  .conteneur-formulaire textarea,
  .conteneur-formulaire input[type="text"],
  .conteneur-formulaire input[type="email"] {
    font-size: 1rem;
  }

  .conteneur-formulaire input[type="submit"] {
    font-size: 1.5rem;
    margin-top: -15px;
  }
}