.conteneur-formulaire {
  background-size: cover;
  border: 2px solid #000000;
  border-radius: 15px;
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(255, 255, 255, 0.7);
  max-width: 55rem;
  height: auto;
  margin: 0 auto;
  background-image: url("../../Utils/Images/Img/papyrus.jpg");
  padding: 20px;
}

.cadre-texte {
  border: 2px solid #d4af37;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: inset 0 4px 8px rgba(0, 0, 0, 0.1),
    inset 0 -4px 8px rgba(255, 255, 255, 0.7);
}

.conteneur-formulaire h3 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 10px;
  font-size: 2rem;
}

.conteneur-formulaire p {
  text-align: center;
  font-size: 1.7rem;
  margin-bottom: 20px;
}

.conteneur-formulaire form {
  display: flex;
  flex-direction: column;
}

.conteneur-formulaire label {
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 1.5rem;
}

.conteneur-formulaire textarea,
.conteneur-formulaire input[type="text"],
.conteneur-formulaire input[type="email"] {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: "Times New Roman", Times, serif;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s ease-in-out;
  width: 100%; 
}

.conteneur-formulaire .submit-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.conteneur-formulaire input[type="submit"] {
  font-weight: bolder;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 2rem;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.error-message {
  margin-top: 5px;
}

.confirmation-message {
  margin-top: 5px;
}

label {
  display: flex;
  align-items: center;
  gap: 5px;
  
}

.cadre-texte {
  cursor: default;
}

  .conteneur-formulaire textarea,
  .conteneur-formulaire input[type="text"],
  .conteneur-formulaire input[type="email"] {
    font-size: 2rem;
  }


@media (min-width: 768px) and (max-width: 1023.9px) {
  .conteneur-formulaire {
    width: 80%;
  }

    .conteneur-formulaire textarea,
  .conteneur-formulaire input[type="text"],
  .conteneur-formulaire input[type="email"] {
    font-size: 2rem;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .conteneur-formulaire {
    width: 90%;
  }

  .conteneur-formulaire h3 {
    font-size: 1.5rem;
  }

  .conteneur-formulaire p {
    font-size: 1.2rem;
  }

  .conteneur-formulaire label {
    font-size: 1.2rem;
  }

  .conteneur-formulaire textarea,
  .conteneur-formulaire input[type="text"],
  .conteneur-formulaire input[type="email"] {
    font-size: 1rem;
  }

  .conteneur-formulaire input[type="submit"] {
    font-size: 1.5rem;
  }
}