.apropos-container {
  max-width: 580px;
  margin: 0 auto;
  padding: 20px;
  margin-top: 50px;
}

.apropos-title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 50px;
}

.apropos-content {
  padding: 20px;
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.6;
  animation: fadeIn 2s ease-in-out;
  border-radius: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.apropos-lien {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}