// Couleurs
$base-color: #ffffff;
$secondary-color: #000000;
$third-color: #da911d;
$fourth-color: #102eb2e2;
$fifth-color: antiquewhite;
$error-color: #c72828;
$success-color: #28a745;

// Page Home
h1 {
  color: $secondary-color;
}

nav,
footer,
header a,
header {
  color: $base-color;
  text-decoration: none;
}

// Page Projets

.card_descrip,
.card_langage,
.cards,
.card_git,
.projet-git-button {
  background-color: $base-color;
}

.titre-projet,
.projet-git-button {
  color: $secondary-color;
}

.projet-tag {
  color: $base-color;
}

.projet-tag::after {
  background-color: $third-color;
}

.projet-git-button:hover {
  color: $base-color;
}

.projet-git-button:active {
  background-color: $base-color;
}

// Page A propos
.home-link, h1, .text_eror, .errorpage-link{
  background-color: $fifth-color;
  color: $secondary-color;
}

// Composants

// Portfolio
.title_portfolio {
  color: $secondary-color;
}

.filtres button.active,.card-title,
.filtres button:hover, .title_portfolio, .conteneur-formulaire h3 {
  background-color: $secondary-color;
  color: $fifth-color;
}

// Form
.conteneur-formulaire {
  color: $secondary-color;
}

.conteneur-formulaire input[type="submit"] {
  background-color: $error-color;
  color: $base-color;
}

.conteneur-formulaire input[type="submit"].valid-submit {
  background-color: $success-color;
  color: $base-color;
}

.error-message,
.text_eror {
  color: $error-color;
}

.confirmation-message {
  color: $success-color;
}

.invalid {
  background: repeating-linear-gradient(
    145deg,
    $error-color,
    $error-color 25px,
    $base-color 20px,
    $base-color 40px
  );
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

// Footer et Header
footer,
header {
  background-color: $secondary-color;
  color: $fifth-color;
}

// Footer
footer a {
  color: $third-color;
}

footer a:hover {
  color: $third-color;
}

// Card
.card {
  background-color: $base-color;
}

