// _variables.scss
$font-family: "Montserrat", sans-serif;
$font-weight-bold: bold;
$font-weight-normal: normal;

// Tailles de police pour les écrans de bureau


// Tailles de police pour les écrans mobiles