// _variables.scss
// Google Fonts loaded in index.html with preconnect for better performance

$font-family: "Montserrat", sans-serif;
$font-weight-bold: bold;
$font-weight-normal: normal;

body {
  font-family: $font-family;
  font-weight: $font-weight-normal;
 
}

