footer {
  padding: 20px;
  text-align: center;
  border-top: 2px solid #d4af37;
  margin-top: 50px;
}

footer div {
  margin-bottom: 2px;
}

footer a {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  width: 16px;
  height: 16px; 
  margin-right: 5px;
}
