// Variables
$border-color: #000000;
$border-radius: 10px;
$box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
$box-shadow-hover: 0 8px 16px rgba(0, 0, 0, 0.2);
$transition-duration: 0.3s;
$font-size-large: 3rem;
$font-size-medium: 2rem;
$font-size-small: 1.5rem;
$font-size-xsmall: 1rem;
$padding: 20px;
$margin-bottom: 50px;
$background-image: url("../../Utils/Images/Img/papyrus.jpg");
$button-padding: 10px 20px;
$button-border-color: #000000;
$button-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
$button-box-shadow-hover: 0 6px 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
$button-box-shadow-active: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
$scrollbar-bg: antiquewhite;
$scrollbar-thumb-bg: gold;
$scrollbar-thumb-image: url("https://i.ibb.co/GTj7rQK/depositphotos-508402766-stock-illustration-ancient-egypt-vintage-seamless-pattern.webp"); 


// Global Styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

// Project Styles
.h3_projet {
  font-size: $font-size-medium;
  text-align: center;
}

.projet-description {
  text-align: left;
  font-size: $font-size-small;
  margin: 10px 0;
  line-height: 1.5;
}

.conteneur-projet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding;
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  width: 100%;
}

.titre-projet {
  text-align: center;
  font-size: $font-size-large;
  margin-bottom: $margin-bottom;
  z-index: 7;
  width: 100%;
}

.projet-cover {
  width: 50%;
  height: auto;
  border-radius: $border-radius;
  margin-bottom: 20px;
}

.cards_projet {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2vw;
}

.card_descrip,
.card_langage, .card_git {
  display: inline-block;
  border: 3px solid $border-color;
  border-radius: $border-radius;
  padding: $padding;
  box-shadow: $box-shadow;
  text-align: center;
  width: 48%;
  margin-top: 30px;
}


 
.h3_projet  {
  text-align: center;
  padding: 5px 10px; 
  border-radius: $border-radius; 
  margin-bottom: 20px;
}

.card_descrip {
  max-height: 270px;
  overflow-y: auto;
  background-image: $background-image;
  background-size: cover;
  font-weight: bold;
  font-size: 0.9em;
  line-height: 1.2;
}



.card_descrip p {
  text-align: left;
  width: 95%;
}


.card_langage {
  background-image: $background-image;
  background-size: cover;
}

.projet-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  margin-top: 7%;
}

.projet-tag {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  padding: 10px 15px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-size: repeat;
  cursor: pointer;
}

.projet-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 5px solid orange;
  border-radius: 5px;
  box-sizing: border-box;
}

.projet-tag::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  animation: border-dot-animation 9s linear infinite;
}

.tag-logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
}

.tag-name {
  font-size: $font-size-xsmall;
  text-align: center;
}

.projet-git {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.card_git {
  border: 3px solid $border-color;
  border-radius: $border-radius;
  padding: $padding;
  box-shadow: $box-shadow;
  text-align: center;
  width: 48%;
  height: auto;
  transition: transform $transition-duration, box-shadow $transition-duration;
  background-image: $background-image;
  display: flex;
  flex-direction: column;
}

.card_git:hover {
  transform: translateY(-5px);
  box-shadow: $box-shadow-hover;
}

.projet-git-button {
  display: inline-block;
  padding: $button-padding;
  margin: 15px auto; 
  border: 2px solid $button-border-color;
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;
  box-shadow: $button-box-shadow;
  width: 30%;
}

.projet-git-button:hover {
  transform: translateY(-2px);
  box-shadow: $button-box-shadow-hover;
}

.projet-git-button:active {
  transform: translateY(2px);
  box-shadow: $button-box-shadow-active;
}



// Custom Scrollbar
::-webkit-scrollbar {
  width: 30px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: $scrollbar-bg;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-thumb-bg;
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-image: $scrollbar-thumb-image; 
  background-size: cover; 
}



// Responsive Styles
@media (min-width: 768px) and (max-width: 1023.9px) {
  .h3_projet {
    font-size: 1.7rem;
    
  }

  .projet_ligne {
    flex-direction: column;
    align-items: center;
  }

  .projet-cover {
    width: 90%;
    margin-left: 0;
  }

  .cards_projet {
    flex-direction: column;
    align-items: center;
  }

  .card_descrip p {
    font-size: 1.3rem;
  }

  .card_descrip,
  .card_langage,
  .card {
    width: 90%;
    margin-bottom: 20px;
  }

  .card_descrip p {
    text-align: left;
    width: 100%;
  }

  .card_descrip h3 {
    margin-top: 15px;
  }

  .projet-git-button {
    width: 50%;
  }

  .projet-git {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin-bottom: -30px;
  }
}

@media (min-width: 320px) and (max-width: 767.9px) {
  .projet-cover {
    width: 90%;
    margin: 0;
    max-width: 100%;
  }

  .card_descrip h3, .card_langage h3, .card_git h3 {
   margin-left: 3%;
  }

  .h3_projet {
    font-size: 1.4rem;
  }

  .card_descrip p {
    width: 120%;
    margin-left: -8%;
  }


  .cards_projet {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 0 10px;
  }

  .projet-git {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0 10px;
    width: 250px;
    margin-bottom: -50px;
  }

  .projet-description {
    font-size: 1rem;
  }

  .projet-git-button {
    width: 50%;
  }

  .card_descrip {
    font-size: 0.8em;
    padding: 0 2rem;
    margin-right: 10px;
    margin-top: 30px;
  }

  .card_descrip h3 {
    margin-top: 15px;
  }

  .card_descrip,
  .card_langage,
  .card,
  .card_git {
    width: 250px;
    margin-bottom: 20px;
  }

  .projet-tag {
    margin-top: 10px;
  }
}