* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;

}

.h3_projet {
  font-size: 2rem;
  text-align: center;
  margin-top: 20px;
}

.projet-description {
  text-align: left; 
  font-size: 1.5rem; 
  margin-top: 10px; 
  margin-bottom: 10px; 
  line-height: 1.5; 
}

.conteneur-projet {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.titre-projet {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 20px;
  z-index: 7;
  width: 100%;
}

.projet-cover {
  width: 50%;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.cards_projet {
  display: flex;
  justify-content: space-between;
  width: 80%;
  gap: 2vw;
}

.card_descrip, .card_langage {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 48%; 
}

.projet-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10%;
  justify-content: center;
  margin-top: 7%;
}

.projet-tag {
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  gap: 5px;
  padding: 5px 10px;
  border: 2px solid transparent;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  background-image: url('../../Utils/Images/Img/img1.jpg');
  background-size: repeat;
  cursor: pointer;
}

.projet-tag::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid orange;
  border-radius: 5px;
  box-sizing: border-box;
}

.projet-tag::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  box-shadow: 0 0 10px orange;
  animation: border-dot-animation 9s linear infinite;
}

@keyframes border-dot-animation {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}

.tag-logo {
  width: 70px;
  height: 70px;
  object-fit: contain; 
}

.tag-name {
  font-size: 1rem;
  text-align: center;
}

.projet-git {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.card_git {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 48%; 
  height: auto;
  transition: transform 0.3s, box-shadow 0.3s; /* Ajoutez cette ligne pour l'animation */
}

.card_git:hover {
  transform: translateY(-5px); /* Ajoutez cette ligne pour l'animation */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ajoutez cette ligne pour l'animation */
}

.projet-git-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #fff;
  color: #000;
  border: 2px solid #acacac;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.projet-git-button:hover {
  color: #fff;
  background-color: #000000;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.projet-git-button:active {
  background-color: #e0e0e0;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
}

/* Responsive styles */
@media (max-width: 768px) {
  .projet-git {
    flex-direction: column;
    align-items: center;
  }

  .card_git {
    width: 100%;
  }
}
@keyframes border-dot-animation {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: 0;
    left: 100%;
    transform: translateX(-100%);
  }
  50% {
    top: 100%;
    left: 100%;
    transform: translate(-100%, -100%);
  }
  75% {
    top: 100%;
    left: 0;
    transform: translateY(-100%);
  }
  100% {
    top: 0;
    left: 0;
  }
}

.tag-logo {
  width: 70px;
  height: 70px;
  object-fit: contain; 
}

.tag-name {
  font-size: 1rem;
  text-align: center;
}

.projet-git {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

.projet-git {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin-top: 20px;
}

 .card_git {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 47%; 
  height: auto;
  gap: 10px;
}

.projet-git-button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #fff;
  color: #000;
  border: 2px solid #acacac;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.projet-git-button:hover {
  color: #fff;
  background-color: #000000;
  transform: translateY(-2px);
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}

.projet-git-button:active {
  background-color: #e0e0e0;
  transform: translateY(2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.08);
}


/* Responsive tablette*/
@media (max-width: 768px) {
  .projet_ligne {
    flex-direction: column;
    align-items: center;
  }

  .projet-cover {
    width: 90%;
    margin-left: 0;
  }

  .cards_projet {
    flex-direction: column;
    align-items: center;
  }

  .card_descrip, .card_langage, .card {
    width: 90%;
    margin-bottom: 20px;
  }

  .projet-git {
    flex-direction: column;
    align-items: center;
  }
}

// Reponsive mobile